.mainContainer{
    margin : 7rem 0;

}

.mainContainer .namebtn{
    background-color: #555555;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 30px;
}

.container .title{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

.container .article{
    font-family: "Lucida Console", "Courier New", monospace;
}

.mainContainer .h1{
   
}